

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
    text-shadow: 4px 4px 2px black;
}

body {
    font-size: 0;
}

.container {
    width: 100%;
    height: 100vh;
}

.gameTitle {
    font-size: 7vmin;
    padding-top: 2%;
    text-align: center;
    color: beige;
}

.rulesTitle {
    position: relative;
    color: beige;
    text-align: center;
}

.gameHeader {
    width: 74%;
    height: 15%;
    border-bottom: 2px solid black;
    background: linear-gradient(black, saddlebrown);
    display: inline-block;
    vertical-align: top;
}

.boardContainer{
    width: 74%;
    height: 85%;
    position: relative;
    float:right;
    bottom:85%;
    background-image: url("Images/saloon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.statsArea {
    width: 26%;
    height: 100%;
    border-right: 2px solid black;
    display: inline-block;
    position: relative;
    padding: 0% 1% 0% 1%;
    background: linear-gradient(saddlebrown, black);
    overflow:auto;
}

button {
    display: inline-block;
    width: 40%;
    height: 8%;
    margin: 5% 0% 5% 0%;
    background: radial-gradient(grey, beige);
    font-size: 3vmin;
    box-shadow: 0 5px 13px 10px rgba(0,0,0,5);
    border-radius: 4%;
    text-shadow: 1px 1px white;
}

.startGame {
   position: relative;
   left: 10%;
}
.resetButton {
    position: relative;
    left: 16%
}

.rulesText {
    color: beige;
    font-size: 2vmin;
    text-align: center;
}


.player1Score, .player2Score {
    position: relative;
    top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 3vmin;
    color: beige;
}

.player1Score {
    color:  darkgray;
}

.player2Score {
    color: indianred
}

.gameBoarder {
    width: 70%;
    height: 95%;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate( -50%, -50%);
    background-image: url("Images/gradingwood.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 18px 15px rgba(0,0,0,5), 10px 12px 22px 10px rgba(0,0,0,10);
    border-radius: 5%;
}

#checkerBoard{
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 56%;
    transform:translate(-50%,-50%);
    
}

.row {
    position:relative;
    left: 7.5%;
}

.square {
    display: inline-block;
    width: 10.5%;
    height: 9vmin;
    border-radius: 2px;
}

.light {
    
    background: radial-gradient(tan, whitesmoke);
    
}


.dark {
    
     background: radial-gradient(brown, black);
}

.checker {
    width: 100%;
    height: 100%;
    left:6%;
    position: relative;
    background-image: url("Images/copperCoinChecker.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.player1{
    background-image: url("Images/white_checker.png");
}

.highLight {
    border: 3px yellow inset;

}
.king{
    background-color: gold;
}

