
body {
    font-size: 0;

}

.container {
    width: 100vw;
    height: 100vh;
    border: 1px black solid;

}

h1 {
    font-size: 2rem;
    text-align: center;
}

.gameHeader {
    width: 100%;
    height: 15%;
    border: 2px green dashed;
}

.boardContainer{
    width: 100%;
    height: 85%;
    border: 3px blue dotted;
    display: inline-block;

}

.statsArea {
    width: 20%;
    height: 100%;
    border: 1px orange solid;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

button {
    width: 50%;
    height: 8%;
    position: relative;
    top: 5%;
    left: 25%;
    background-color: lawngreen;
    font-size: 1rem;
}

.discardPile {
    width:70%;
    height: 60%;
    border: 1px purple solid;
    position: relative;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);

    

}
.playArea {
    width: 79%;
    height: 100%;
    border: 2px black solid;
    display: inline-block;

}
.gameBoarder {
    width: 50%;
    height: 85%;
    position: relative;
    display: inline-block;
    border: 1px green dotted;
    left: 50%;
    top:50%;
    transform: translate( -50%, -50%);

}

.gameArea{
    width: 90%;
    height: 90%;
    border: 1px red solid;
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);

}

